<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>新型肺炎疫情地区趋势</title>
<script src="https://pv.sohu.com/cityjson?ie=utf-8"></script>
</head>
<body>

<div id="<%= context.config.mountElementId %>"></div>

</body>
</html>