
.container {
  height: 100%;
  font-family: "SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
  text-align: center;
}

.header {
  max-width: 768px;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: normal;
  /* letter-spacing: -1px; */
  background: #008dc9;
  padding: .5em 0;
  color: white;
  /* margin: 0; */
}

.content {
  max-width: 768px;
  margin: 0 auto;
  background-color: #ffffff;
  /* border-radius: .625rem; */
  padding: .917rem 1.0625rem 1.875rem;
}

.footer {
  font-size: 0.8rem;
  background-color: #f4f4f4;
  padding: 1.5em 0;
}